<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->
	
  <name>javaScriptWorking</name>

  <description>
      checking javascript
  </description>

  <author  email="jvsnyder15@gmail.com">
      Jason Snyder
    </author>
  <access origin="tel:*" launch-external="yes"/>
  <access origin="geo:*" launch-external="yes"/>
  <access origin="mailto:*" launch-external="yes"/>
  <access origin="sms:*" launch-external="yes"/>
  <access origin="market:*" launch-external="yes"/>
  <access origin="*" />
  <access origin="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <access origin="http://code.jquery.com/jquery-1.11.1.min.js" />
  <access origin="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" />

  <plugin name="cordova-plugin-whitelist" spec="1" />
  <allow-intent href="*" />
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <allow-intent href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <allow-intent href="http://code.jquery.com/jquery-1.11.1.min.js"/>
  <allow-intent href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"/>
  <platform name="android">
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <allow-intent href="market:*"/>
  </platform>
</widget>